* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */
#mobileheader{
    display:none;
}
#menubody {
    background-image:url(img/WebBlur.png);
    background-position: center top;
    margin: auto;
}
body{
    background: #fff;
}

img {
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none; 
    color:#ee7651;
}
a:hover{
    color: #999;
}

html, body {
    height: 100%;
    padding: 0;
	margin: 0;
	width: 100%;
    font-size:92%;
    font-family: "Open Sans",Arial,Verdana,sans-serif;

}
section,article {
	padding:35px 35px 35px 35px;
    background-color:white;
}

#wrap {
    min-height: 100%;
}

#header {
    background: #009999;
    color: white;
    border-bottom: 3px solid lightgreen;
    margin-bottom: 0.5%;
}
#header li{
    display: inline-block;
	font-weight: bold; 
	font-size: 2em;  /*Font size*/
    
}
#links{
    padding: 0;
	margin-top: 0;
}
#header a {
    color: White;
	text-decoration: none;
}
#header a:hover {
    color: lightgreen;
}
#Logo{
    font-size: 4em; /*Font size*/
	font-weight: bold;
	font-weight: 900;
	margin-left: 6.8%;
	margin-bottom: 0.3%;
    text-decoration: none;
}
.opdrachten{
    padding-left: 1.5%;
}
#main {
    overflow:auto;
	padding-bottom: 100px;}  /* must be same height as the footer */

section {
    border:0px solid grey;
	width:65%;
	max-width:1280px;
	margin: 0 auto 5px;
    background-color:#ddd;
} 
article {
	border-radius:5px;
}
#footer {
    border-top: 1px solid #eee;
    position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;    
    background: #4A4A4A;
	clear:both;
    text-align: center;
    text-decoration: none; 
    color: #fff;
	font-style: normal;
	font-variant: normal;
	line-height: 1.5;
font-size: 14px;
}
#footer a{
    text-decoration: none; 
    color: #fff;
}
#footer a:hover{
    color: skyblue;
}
#footer p{
    padding-top: 20px;
}
.iframeboor{
    width: 100%;
    height: 600px;
    margin: auto;
}
.iframe{
    width: 50%;
    height: 500px;
    margin: auto;
}
.adminiframe {
    width: 100%;
    height: 700px;
}
@media screen and (max-width: 872px) {
    body{
        width: 100%;
    }
    #header{
        display: none;
    }
    #mobileheader{
        display:initial;
		width: 100%;
        margin-bottom: 0.5%;
    }
    #mobileheader a{
        color: white;
        text-decoration: none;
    }
    #mobileheader ul {
        background: #009999;
    }
    #mobileheader li{
        display: inline-block;
        text-align: right;
    }
    #mobileheader #MobileLogo {
		font-size: 50px;
		padding: 0px 0 3px 20px;
		font-weight: bold;
    }
    #MobileLogo {
        
    }
    #MobileLogo a:hover{
        color: lightgreen;
    }
    #pull-li {
        font-size: 40px;
        padding-right: 10px;
        float: right;
	}
    #pull-li a:hover {
        color: lightgreen
    }
    #mobilelinks {
        border-bottom: 3px solid White;
    }
    section{
        width: 80%
            
    }
    article{
        border-radius: 0px;
    }
    #mobilelinks2 {
        padding: 2px;
    }
    #mobilelinks2 a:hover {
        color: lightgreen;
        text-decoration: underline;
    }
    #mobilelinks2 ul {
    }
    #mobilelinks2 li{
        text-align: right;
        display:inherit;
    }
    #nc1, #nc2,#nc3,#nc3, #nc4{
		width: 80%;
		border-bottom: 1px solid White;
        font-size: 2em;
        font-weight: bold;
        margin: auto;
	}
    #nc5{
        width: 80%;
        font-size: 2em;
        font-weight: bold;
        margin: auto;
    }
    .iframeboor{
    width: 100%;
    height: 300px;
    }
    .iframe{
    width: 100%;
    height: 300px;
    margin: auto;
    }
    .logiframe {
        display: none;
    }
}
@media screen and (max-width: 1641px) {
    body{
        width: 100%;
    }
    section{
        width: 100%   
    }
    #Logo{
        padding-left: 1%;
    }
    #header{
        font-size: 80%;
    }
    #header li{
        margin: 5px auto;
    }
    article{
        border-radius: 0px;
    }
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/ 

/*
    For the Admin page
*/

/* animated spoiler CSS by Bloggersentral.com */

.spoilerbutton {
        display:block;margin:5px 0;
}
.spoiler {
    overflow:hidden;background: #f5f5f5;
}
.spoiler > div {
    -webkit-transition: all 2.0s ease;
    -moz-transition: margin 2.0s ease;
    -o-transition: all 2.0s ease;
    transition: margin 2.0s ease;
}
.spoilerbutton[value="Show"] + .spoiler > div {
    margin-top:-100%;
}
.spoilerbutton[value="Hide"] + .spoiler {
    padding:5px;
} 