* {
    box-sizing: border-box;
}
video {
    width: 100%;
    height: auto;
}
img {
    max-width: 100%;
    height: auto;
}
iframe{
	width: 100%;
}
.menu1{
	display:none;
}
.link{
    color:black;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
body{
    margin: 0;
}
@media only screen and (min-width: 600px) {
    .col-s-12 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
html {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.menu1{
/*Navigatie menu*/
	padding: 0.2%;
}
.menu1 ul {
/*Navigatie menu*/
	padding:1%;
	border-radius:5px;
	margin: auto;
	list-style: none;
	color: red;
	background:#086A87;
	overflow: hidden; 
}
.menu1 li {
/*Navigatie menu*/
	margin: auto;
	display:inline-block;
}
.menu1 a {
/*Navigatie menu*/
	display: block;
	color:#FFFF66;
	text-decoration: none;
	padding: 2%;
	font-weight: bold;
}
.menu1 a:hover {
/*Navigatie menu*/
	background: rgb(51,51,51);
	color: #fff;
}
.header {
	text-align: center;
    color: #ffffff;
    padding: 15px;
    background: linear-gradient(90deg, #16222A 5%, #3A6073 100%);
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#157978;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
	background: rgb(51,51,51);
	color: #fff;
}
.menu a{
	text-decoration: none;
	color: #FFFF66;
}
.aside {
	width: 100%;
    background-color: #ddd;
	border:1px solid grey;
	border-radius:5px;
    padding: 15px;
    color: black;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.aside img {
	border-radius:5px;
	border:1px solid grey;
}
.footer {
    background: linear-gradient(90deg,#3A6073 5%, #16222A 100%);
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 17.5px;
    width: 100%;
}
