body  {
    font-family:Verdana,sans-serif;font-size:1.8em;
	background-color:#F1F7EA;
	font-size:92%;
}
header,footer,section,article {
    border:1px solid grey;
	margin-bottom:15px;padding:30px;
    background-color:white;
}
.linkboor{
	display: none;
}
.h31{
	display:none;
}
.onedrive-link{
	display: none;
}
header,footer {
	text-align: center;
    color:white;
	background-color:#444;
	margin-left:0;
	margin-bottom:0;
}
.a1{
	display:none;	
}
section {
	width:60%;
	max-width:1280px;
	margin: 20px auto;
    background-color:#ddd;
} 
.img {
	width:100%;
    max-width:540px; 
    height: auto;
	float:left;
	margin: 0 10px 10px 0;
}
#nav2 ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: red;
  background:#555 url(img/noise.png);
  overflow: hidden; 
}

#nav2 li {
	display:inline-block;
}
#nav2 a {
  display: block;
  color:#3CC;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
}
#nav2 a:hover {
	background: rgb(51,51,51);
	color: #fff;
}
@media screen and (max-width: 768px) {
	body{
		font-size: 92%;
	}
@media screen and (max-width: 480px) {
	body{
		font-size: 92%;
	}
	#menu li {
	  display:block;
	  border-bottom-color:#FFF;
	  border-bottom-style:solid;
	  border-bottom-width:1px;
	  text-align:center;
	  padding:5px;
	}
	#menu ul {
		padding: 0;
		margin: 0 0 20px 0;
	}
	section{
		width: 80%
	}
	.img2{
	display: none;
}
.linkboor{
	display: initial;
}
.iframeboor{
	display:none;
}
.onedrive-iframe{
	display:none;
}
.onedrive-link{
	display: initial;
}
.a1{
	
	display: initial;
}
.h21{
	display:none;
}
.h31{
	display: initial;
	
}