
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
}
body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
    line-height: 1.6em;
    background-image: url(main-bg.jpg)
}
#wrap{
    padding: 50px 0;
}
#main {overflow:auto;
	padding-bottom: 100px;}
h1{
    font-family: 'Lato', sans-serif;
    margin-top: 70px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 1.1;
    text-align: center;
}
h2{
    color: #fff;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1.1;
}
#footer {
    margin-top: 100px;
}
#footer a{
    text-decoration: none; 
    color: white;
}
#footer a:hover{
    color: lightgreen;
}